body, html {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('../Images/BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  /* flex: 1; */
  margin-left: 170px;
}

#head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Text color on top of the background */
  font-family: Arial, sans-serif;
  height: 100vh;
}

/* Optional: Add additional styles for your content */
#head h1 {
  font-size: 3rem;
}
  
#head p {
  font-size: 1.5rem;
}
  
.sidebar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  background-color: #b1b1b16c; /* Semi-transparent black background */
  padding: 20px;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  text-align: center;
}
  
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
  
.sidebar a {
  margin-bottom: 10px;
}
  
.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: Arial, sans-serif;
  transition: color 0.3s ease;
}

.sidebar a:hover{
  color: burlywood;
}

#container, #image, #content, #container2, #image2, #content2, #container3, #image3, #content3, #container4, #image4, #content4{
  box-sizing: border-box;
}

#container, #container3{
  height: 50vh;
  padding: 25px;
  padding-bottom: 25px;
  color: white;
  font-family: Arial, sans-serif;
}

#image, #image3{
  display: inline;
  float: left;
  width: 40%;
  height: 45vh;
  border-radius: 50px;
  background-color: red;
}

#content, #content3{
  display: inline;
  float: right;
  width: 55%;
  height: 45vh;
}

#container2, #container4{
  height: 50vh;
  padding: 25px;
  padding-bottom: 25px;
  color: white;
  font-family: Arial, sans-serif;
}

#image2, #image4{
  display: inline;
  float: right;
  width: 40%;
  height: 45vh;
  border-radius: 50px;
  background-color: red;
}

#content2, #content4{
  display: inline;
  float: left;
  width: 55%;
  height: 45vh;
}

#p1{
  font-size: larger;
}

.container2{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 48px; 
  /* align-items: center;  */
  height: 100vh; 
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  font-family: Arial, sans-serif;
}

#image1-2, #image2-2, #image3-2{
  height: 40vh;
  background-color: red;
  border-radius: 50px;
  margin-top: 48px; 
}